{% extends '../base.html' %}
{% load staticfiles %}
{% load navbar_tags %}
{% block title %}
   هتل ها
    {% if 'city' in request.GET %}
      |    «{{ city.CityName }}»
    {% endif %}
{% endblock %}
{% block styles %}
    <style>
    header{
        padding-bottom: 0;
    }
    </style>
{% endblock %}
{% block main %}
    <div class="hotels__search__list">
        <div class="container-fluid">
            <div class="content ">
                <div class="search__list__header">
                    <div class="col-11 col-lg-2">
                        <div class="title">
                            <span>
                                جستجوی هتل ها
                            </span>
                        </div>
                    </div>
                    <div class="col-11 col-lg-9">
                        <div class="header__content">
                            <div class="content__title">
                                <img src="{% static 'bilit360/img/hotel copy.png' %}" alt="">
                                <h5>به راحتی هتل مورد نظرتان را جستجو کنید</h5>
                            </div>
                            <form action="">
                                <div class="search__select">
                                    <select name="country" id="country">
                                        <option value="0" class="option__title">کشور مقصد</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}" class="option__title" {% if city %}{% if city.country_id == country.id %}selected{% endif %}{% endif %}>{{ country.CountryName }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name="city" id="city">
                                        <option value=0"">شهر مقصد</option>
                                    </select>
                                    <button type="submit"> جستجو</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="search__list__content">
                    <div class="col-11 col-lg-2">
                        <div class="adv">
                            {% include '../includes/banner.html' %}
                            {% include '../includes/support.html' %}
{##}
{#                            <div class="items">#}
{#                                <a href="">#}
{#                                    <img src="{% static 'bilit360/img/Rounded Rectangle 30 copy 2.jpg' %}" alt="">#}
{#                                    <h5>کلیک کنید</h5>#}
{#                                </a>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-11 col-lg-9">
                        <div class="search__list">
                            <div class="list__header">
                                <div class="filtering">
                                </div>
                            </div>
                            {% for hotel in hotels %}
                            <div class="hotel__intro">
                                <div class="items">
                                    <div class="hotel__img">
                                        {% if hotel.image %}
                                            <a href="{% url 'hotels:details' hotel.id %}" style="padding-top: 0px;">
                                                <img src="{{ hotel.image.url }}" alt="{{ hotel.HotelEnName }}">
                                            </a>
                                        {% endif %}
                                        <a href="">معرفی هتل</a>
{#                                        <span> #}
{#                                            <img src="{% static 'bilit360/img/tripadvisor-icon.png' %}" alt="">#}
{#                                            5.5/10 #}
{#                                        </span>#}
                                    </div>
                                    <div class="hotel__details">
                                        <div class="detail__header">
                                            <div class="item hotel__name">
                                                <span class="name__black">نام هتل : </span>
                                                <h6>
                                                    <a href="{% url 'hotels:details' hotel.id %}" style="color:white;cursor: pointer;font-size: inherit;">
                                                        {{ hotel.HotelName }}
                                                    </a>
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <span class="item__title">شهر : </span>
                                                <h6>{{ hotel.city.CityName }}</h6>
                                            </div>
                                            <div class="item">
                                                <span class="item__title"> درجه : </span>
                                                <div class="rating">
                                                     {% if hotel.HotelStar == 0 %}
                                                        هتل آپارتمان
                                                    {% elif hotel.HotelStar == 1 %}
                                                        <img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}">
                                                    {% elif hotel.HotelStar == 2 %}
                                                      <img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}">
                                                    {% elif hotel.HotelStar == 3 %}
                                                        <img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}">
                                                    {% elif hotel.HotelStar == 4 %}
                                                        <img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}">
                                                    {% elif hotel.HotelStar == 5 %}
                                                        <img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}"><img src="{% static 'bilit360/img/star.svg' %}" alt="{{ hotel.HotelStar|to_price }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <p> <span>معرفی هتل</span>
                                                {{ hotel.HotelDescription|striptags|truncatewords:30 }}
                                            </p>
                                            <h6>برخی از امکانات :
                                            {% for option in hotel.options.all %}
                                                {{ option.name }}
                                                    {% if not forloop.last %}
                                                        ،
                                                    {% endif %}
                                                {% endfor %}
                                            </h6>
                                        </div>
                                        <div class="tags">
                                            <div class="tag">
                                                <a href="{% url 'tours:tours' %}?hotelname={{ hotel.HotelName }}">تور مرتبط با هتل {{ hotel.HotelName }}
                                                    <img src="{% static 'bilit360/img/traveler-with-a-suitcase.png' %}" alt=""> </a>
                                            </div>
                                            <div class="more__info">
                                                <a href="{% url 'hotels:details' hotel.id %}">اطلاعات بیشتر </a> <span> > </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
{#                            <div class="list__tags">#}
{#                                <a href="" class="tag__items">#}
{#                                    <span>X</span>#}
{#                                    <small>#}
{#                                        برچسب#}
{#                                    </small>#}
{#                                </a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'bilit360/lib/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bilit360/lib/slick-1.8.1/slick/slick.js' %}"></script>
    <script src="{% static 'bilit360/lib/bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bilit360/lib/FlipClock-master/compiled/flipclock.min.js' %}"></script>
    <script src="{% static 'bilit360/lib/persian-date/dist/persian-date.min.js' %}"></script>
    <script src="{% static 'bilit360/lib/persian-datepicker/dist/js/persian-datepicker.min.js' %}"></script>
    <script src="{% static 'bilit360/js/custom.js' %}"></script>
    <script>
        $('.hotels__search__list .content .search__list__content .search__list .hotel__intro').last().addClass(
            'noborder');
    </script>
    <script>
    $("select[name='country']").change(function(){
        $('#city').empty().append('<option value="" class="option__title" selected>..................</option>');
        $.ajax({
            url: "/master/cities/"+$('#country').val(),
            type: "get",
            data: '',
            success: function(data){
                $('#city').empty().append('<option value="0" class="option__title" selected>همه شهرها</option>');
                $.each(JSON.parse(data), function(i, item) {
                    $('#city').append( $('<option class="option__title"></option>').val(item.id).html(item.CityName) );
                });
            }
        });
    });
    </script>
    <script>
       {% if city %}
           fillCities();
       {% endif %}
       function fillCities() {
        $('#city').empty().append('<option value="" class="option__title" selected>..................</option>');
        $.ajax({
            url: "/master/cities/"+$('#country').val(),
            type: "get",
            data: '',
            success: function(data){
                $('#city').empty().append('<option value="0" class="option__title">همه شهرها</option>');
                $.each(JSON.parse(data), function(i, item) {
                    if(item.id == {{ city.id }}){
                        $('#city').append($('<option class="option__title" selected></option>').val(item.id).html(item.CityName));

                    }else {
                        $('#city').append($('<option class="option__title" ></option>').val(item.id).html(item.CityName));
                    }
                });
            }
        });
    }
    </script>
{% endblock %}