{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <img src="{% static 'bilit360/img/app.png' %}" style="width: 100%;">
    </div>


</div>
{#<div class="app__download">#}
{##}
{#      <div class="download__box">#}
{#        <h6>#}
{#          دانلود#}
{##}
{#        </h6>#}
{##}
{#        <p>#}
{#            با دانلود و نصب اپلیکیشن ما ، به راحتی میتونی بلیط بخری و کلی مطالب جالب دیگه راجع به گردشگری بخونی و تو مسابقه ها شرکت کنی و برنده بشی#}
{#        </p>#}
{#        <div class="download__link">#}
{#          <a href="#">#}
{#              <img src="{% static 'bilit360/img/download-android-2.png' %}" alt="">#}
{#          </a>#}
{#          <a href="#">#}
{#              <img src="{% static 'bilit360/img/download-appstore.png' %}" alt="">#}
{#          </a>#}
{##}
{##}
{#        </div>#}
{#        <div class="contact">#}
{#            پشتیبانی و فروش#}
{#            <br>#}
{#            ۰۲۱-۸۸۴۰۱۷۱۷#}
{#        </div>#}
{#      </div>#}
{#      <img src="{% static 'bilit360/img/hand.png' %}" class="hand" alt="">#}
{#  </div>#}