{% load staticfiles %}
<div class="quick__link">
    <div class="items">
                <div class="item">
          <a href="/posts/blog/14">
                <img src="{% static 'bilit360/img/get_sign.jpg' %}" alt="">
                <h6>
                  دریافت ساین
                </h6>
            </a>
          </div>
      <div class="item">
          <a href="/posts/blog/13">
            <img src="{% static 'bilit360/img/new_announcments.jpg' %}" alt="">
            <h6>
              اطلاع رسانی های جدید
            </h6>
        </a>
      </div>
      <div class="item">
          <a href="/posts/blog/12">
              <img src="{% static 'bilit360/img/reservation_manual.jpg' %}" alt="">
              <h6>
                راهنمای رزرو آنلاین
              </h6>
          </a>
        </div>

    </div>
  </div>