{% extends 'hadmin/list-simple.html' %}
{% block title %}
لیست امکانات هتل ها
{% endblock %}
{% block list %}
<div class="row" id="header-styling">
<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="heading-buttons1">امکانات هتل ها</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">

      <div class="table-responsive ">
        <table class="table font-small-3 table-striped">
          <thead class="bg-grey bg-lighten-4">
            <tr>
              <th>شماره </th>
              <th>نام</th>
              <th>آیکون</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>
              {% for option in options %}
              <tr class="bg-yellow bg-lighten-4">
                  <td>{{option.id}}</td>
                  <td>{{option.name}}</td>
                  <td>
                      {% if option.icon %}
                          <img src="{{ option.icon.url }}">
                      {% else %}
                          بدون آیکون
                      {% endif %}

                  </td>
                  <td class=" text-md-right">
                    <a href="{% url 'hadmin:delete_option' option.id %}">
                        <i class="icon-ios-trash text-danger font-medium-5"></i>
                    </a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
<form action="" method="POST" class="form" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row match-height">
<div class="col-md-12">
  <div class="card" >
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-tooltip">افزودن امکانات هتل</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div class="card-text">
          <p> در این قسمت می‌توانید امکانات هتل جدید اضافه کنید؛</p>
        </div>
          <div class="form-body">
            <div class="row">
             <div class="col-md-12">
                <div class="form-group">
                  <label for="text"> نام امکانات هتل
                  </label>
                  <input type="text" id="text" name="name" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="نام امکانات هتل" data-original-title="" title="">
                </div>
              </div>
            </div>
              <div class="row">
                  <div class="col-md-12">
                <div class="form-group">
                  <label for="text"> آیکون امکانات هتل
                  </label>
                  <input type="file" id="text" name="icon" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="آیکون هتل" data-original-title="" title="">
                </div>
              </div>

            <div class="form-actions">
            <button type="button" class="btn btn-warning mr-1">
              <i class="icon-cross2"></i> انصراف
            </button>
            <button type="submit" class="btn btn-primary" value=" ذخیره">
              <i class="icon-check2"></i>ذخیره
            </button>
          </div>

          </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</form>

    </div>
  </div>
</div>
</div>
{% endblock %}
