{% extends 'hadmin/list-simple.html' %}
{% block title %}
لیست تگ ها
{% endblock %}
{% block list %}
<div class="row" id="header-styling">
<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="heading-buttons1">تگ ها</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">

      <div class="table-responsive ">
        <table class="table font-small-3 table-striped">
          <thead class="bg-grey bg-lighten-4">
            <tr>
              <th>شماره </th>
              <th>عنوان</th>
              <th>لینک</th>
              <th>مطالب مرتبط</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>

              {% for tag in tags %}
              <tr class="bg-yellow bg-lighten-4">
              <td>{{tag.id}}</td>
              <td>{{tag.keyword}}</td>
              <td>{{tag.slug}}</td>
              <td>{{tag.article_set.all.count}}</td>
              <td class=" text-md-right">
                <a href="{% url 'delete_tag' tag.id %}"><i class="icon-ios-trash text-danger font-medium-5"></i></a>
              </td>

                          </tr>
              {% endfor %}



          </tbody>
        </table>
      </div>
<form action="" method="POST" class="form">
  {% csrf_token %}
<div class="row match-height">
<div class="col-md-12">
  <div class="card" >
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-tooltip">افزودن تگ</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">

        <div class="card-text">
          <p> در این قسمت می‌توانید تگ جدید برای وبلاگ اضافه کنید؛</p>
        </div>


          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="text">عنوان تگ
                  </label>
                  <input type="text" id="text" name="keyword" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="نام امکانات" data-original-title="" title="">
                </div>
              </div>

            <div class="form-actions">
            <button type="button" class="btn btn-warning mr-1">
              <i class="icon-cross2"></i> انصراف
            </button>
            <button type="submit" class="btn btn-primary" value=" ذخیره">
              <i class="icon-check2"></i>ذخیره
            </button>
          </div>

          </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</form>

    </div>
  </div>
</div>
</div>
{% endblock %}
