{% extends "hadmin/form.html" %}
{% load navbar_tags %}
{% load staticfiles %}
{% block title %}
ویرایش هتل {{hotel.title}}
{% endblock %}
{% block form %}
<!-- form -->
<form action="" method="POST" class="form repeater" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row match-height">
<div class="col-md-12">
  <div class="card" >
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-tooltip">ویرایش هتل</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">
      </div>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div class="card-text">
          <p> در این قسمت می‌توانید هتل را ویرایش کنید</p>
        </div>
          <div class="form-body">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="issueinput1">عنوان هتل</label>
                  <input type="text" id="issueinput1" class="form-control" placeholder="عنوان" name="HotelName" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="عنوان هتل را در این فیلد وارد کنید" data-original-title="" title="" value="{{hotel.HotelName}}">
                </div>
              </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="issueinput1">عنوان انگلیسی هتل</label>
                  <input type="text" id="issueinput1" class="form-control" placeholder="عنوان انگلیسی" name="HotelEnName" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="عنوان انگلیسی هتل را در این فیلد وارد کنید" data-original-title="" title="" value="{{hotel.HotelEnName}}">
                </div>
              </div>
          </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="issueinput3"> تلفن </label>
                        <input type="text" name="HotelTell" id="issueinput1" class="form-control" placeholder="تلفن " data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="تلفن  هتل را در این فیلد وارد کنید" data-original-title="HotelTell" title="HotelTell" value="{{hotel.HotelTell}}">
                      </div>
                  </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="issueinput3"> فکس </label>
                      <input type="text" name="HotelFax" id="issueinput1" class="form-control" placeholder="فکس "  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="فکس  هتل را در این فیلد وارد کنید" data-original-title="HotelFax" title="HotelFax" value="{{hotel.HotelFax}}">
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="issueinput3"> وبسایت </label>
                          <input type="text" name="HotelSite" id="issueinput1" class="form-control" placeholder="سایت "  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="وبسایت  هتل را در این فیلد وارد کنید" data-original-title="HotelSite" title="HotelSite" value="{{hotel.HotelSite}}">
                      </div>
                  </div>
              </div>
                            <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label for="issueinput3"> آدرس </label>
                                              <input type="text" name="HotelAddress" id="issueinput1" class="form-control" placeholder="آدرس "  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="آدرس  هتل را در این فیلد وارد کنید" data-original-title="HotelAddress" title="HotelAddress" value="{{hotel.HotelAddress}}">
                      </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="issueinput3"> کشور </label>
                            <select class="form-control" name="country" id="country">
                                <option value="0">انتخاب کنید</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if country.id == hotel.country.id %}selected{% endif %}>{{ country.CountryName }}</option>
                                {% endfor %}
                            </select>
                      </div>
                  </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <label for="issueinput3">شهر  </label>
                            <select class="form-control" name="city" id="city">
                                <option value="0">انتخاب کنید</option>
                            </select>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="image">تصویر شاخص هتل</label>
                      <fieldset class="form-group" id="article_image">
                        <label class="custom-file center-block block">
                          <input type="file" id="image" name="image" class="custom-file-input">
                          <span class="custom-file-control"></span>
                        </label>
                      </fieldset>
                        <div class="form-group">
                            {% if hotel.image %}
                                    <img src="{{ hotel.image.url }}" width="100%">
                            {% endif %}
                    </div>
                    </div>
                  </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="image_alt">  درجه هتل </label>
                            <select class="form-control" name="HotelStar" id="HotelStar">
                                <option value="">انتخاب کنید</option>
                                <option value="0" {% if hotel.HotelStar == 0 %}selected{% endif %}>هتل آپارتمان </option>
                                {% for s in stars %}
                                <option value="{{ s }}" {% if hotel.HotelStar == s|add:0 %}selected{% endif %}>{{ s|to_price }} ستاره</option>
                                {% endfor %}
                            </select>

                    </div>
                  </div>
            </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="issueinput3"> قوانین </label>
                                <textarea name="rules" class="form-control ckeditor" rows="9">
                                    {{ hotel.HotelRules }}
                                </textarea>
                      </div>
                  </div>
            </div>
            <!-- Basic CKEditor start -->
              <div class="form-group">
                <label for="multilingual"> توضیحات </label>
                <section id="multilingual">
                  <div class="row">
                    <div class="col-xs-12">
                      <textarea name="content" id="ckeditor" cols="30" rows="15" class="ckeditor">
                                {{hotel.HotelDescription|safe}}
                      </textarea>
                    </div>
                  </div>
                </section>
              </div>
            <!-- Basic CKEditor end -->
          <div class="row">
              <div class="skin skin-square font-small-3 col-md-6">
                <label >امکانات </label>
                    {% for option in options %}
                        <fieldset>
                            <input type="checkbox" name="option{{ option.id }}" id="option{{ option.id }}" {% if option in hotel.options.all %}checked{% endif %}>
                            <label for="option{{ option.id }}" > {{ option.name }} </label>
                        </fieldset>
                    {% endfor %}
              </div>
              <div class="skin skin-square font-small-3 col-md-6">
                <label >تصاویر </label>
                    {% for image in hotel.hotelimage_set.all %}
                        <fieldset>
                            <input type="checkbox" name="hotelimage{{ image.id }}" id="hotelimage{{ image.id }}" checked>
                            <label for="hotelimage{{ option.id }}" > <img src="{{ image.image.url }}" style="width: 70px;"/> </label>
                        </fieldset>
                    {% endfor %}
              </div>
          </div>
           <div class="form-actions">
                   <div data-repeater-list="category-group">
                    <div data-repeater-item>
                    <div class="form-group">
                      <label for="image">تصویر هتل</label>
                      <fieldset class="form-group" id="article_image">
                        <label class="custom-file center-block block">
                          <input type="file" id="image" name="image" class="custom-file-input">
                          <span class="custom-file-control"></span>
                        </label>
                      </fieldset>
                    </div>
                    </div>
                   </div>
                   <button data-repeater-create type="button" class="btn btn-success mr-1" >
                       <i class="icon-plus3"></i> افزودن تصویر هتل
                   </button>
          </div>
            <div class="form-actions">
            <button type="button" class="btn btn-warning mr-1">
                <i class="icon-cross2"></i>   انصراف
            </button>
            <button type="submit" class="btn btn-primary">
              <i class="icon-check2"></i> ذخیره
            </button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>
<!--/form -->
{% endblock %}
{% block scripts %}
    <script>
    $("select[name='country']").change(function(){
        $('#city').empty().append('<option value="" class="option__title" selected>..................</option>');
        $.ajax({
            url: "/master/cities/"+$('#country').val(),
            type: "get",
            data: '',
            success: function(data){
                $('#city').empty().append('<option value="0" class="option__title" selected>همه شهرها</option>');
                $.each(JSON.parse(data), function(i, item) {
                    $('#city').append( $('<option class="option__title"></option>').val(item.id).html(item.CityName) );
                });
            }
        });
    });
    </script>
    <script>
       {% if hotel.country %}
           fillCities();
       {% endif %}
       function fillCities() {
        $('#city').empty().append('<option value="" class="option__title" selected>..................</option>');
        $.ajax({
            url: "/master/cities/"+$('#country').val(),
            type: "get",
            data: '',
            success: function(data){
                $('#city').empty().append('<option value="0" class="option__title">همه شهرها</option>');
                $.each(JSON.parse(data), function(i, item) {
                    if(item.id == {{ hotel.city.id }}){
                        $('#city').append($('<option class="option__title" selected></option>').val(item.id).html(item.CityName));

                    }else {
                        $('#city').append($('<option class="option__title" ></option>').val(item.id).html(item.CityName));
                    }
                });
            }
        });
    }
    </script>
    <script src="{% static 'hadmin_app_assets/videos/repeater.js' %}"></script>
{% endblock %}

