{% extends "hadmin/form.html" %}
{% block title %}
ویرایش پیشنهاد
{% endblock %}
{% block form %}
<!-- form -->
<form action="" method="POST" class="form" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row match-height">
<div class="col-md-12">
  <div class="card" >
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-tooltip">ویرایش محصول</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">

        <div class="card-text">
          <p> در این قسمت می‌توانید پیشنهاد را ویرایش کنید؛</p>
        </div>


          <div class="form-body">
            <div class="row">
               <div class="col-md-3">
                <div class="form-group">
                  <label for="category">دسته بندی</label>
                    <fieldset class="form-group" id="category">
                    <select name="category">
                        {% for cat in cats %}
                            <option value="{{ cat.id }}" {% if product.product_catagory.id == cat.id %}selected{% endif %}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                    </fieldset>

                </div>
              </div>
               <div class="col-md-3">
                <div class="form-group">
                  <label for="image">تصویر شاخص </label>
                    {% if product.image %}
                        <img src="{{ product.image.url }}">
                    {% endif %}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="image">تصویر شاخص </label>
                  <fieldset class="form-group" id="article_image">
                    <label class="custom-file center-block block">
                      <input type="file" id="image" name="image" class="custom-file-input">
                      <span class="custom-file-control"></span>
                    </label>
                  </fieldset>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="location">منطقه</label>
                  <input type="text" id="location" class="form-control" placeholder="موقعیت " name="location" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="موقعیت" data-original-title="" title="" value="{{ product.location }}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="issueinput1">عنوان پیشنهاد</label>
              <input type="text" id="issueinput1" value="{{ product.name }}" class="form-control" placeholder="عنوان" name="name" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="عنوان مطلب را در این فیلد وارد کنید" data-original-title="" title="">
            </div>
            <!-- Basic CKEditor start -->
            <section id="multilingual">
              <div class="row">
                <div class="col-xs-12">
                  <textarea name="description" id="ckeditor" cols="30" rows="15" class="ckeditor">
                      {{ product.description|safe }}
                  </textarea>
                </div>
              </div>
            </section>
            <!-- Basic CKEditor end -->

            <div class="form-actions">
            <button type="button" class="btn btn-warning mr-1">
              <i class="icon-cross2"></i> انصراف
            </button>
            <button type="submit" class="btn btn-primary">
              <i class="icon-check2"></i> ذخیره
            </button>
          </div>

          </div>

      </div>
    </div>
  </div>
</div>
</div>
</form>
<!--/form -->
{% endblock %}
