{% extends 'hadmin/list-simple.html' %}
{% block title %}
لیست پیشنهادات
{% endblock %}
{% block list %}
<div class="row" id="header-styling">
<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="heading-buttons1">محصولات</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">

      <div class="table-responsive ">
        <table class="table font-small-3 table-striped">
          <thead class="bg-grey bg-lighten-4">
            <tr>
              <th>شماره </th>
              <th>عنوان</th>

              <th>دسته بندی</th>
              <th>موقعیت </th>
              <th>وضعیت</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>

              {% for product in products %}
              <tr class="bg-yellow bg-lighten-4">
              <td><a href="{% url 'edit_product' product.id %}">{{product.id}}</a></td>
              <td>{{product.name}}</td>
              <td>{{product.product_catagory.name}}</td>
              <td>{{product.location}}</td>
              <td class="text-danger text-bold-800">منتشر شده</td>
              <td class=" text-md-right">
   <button class="btn btn-danger    mb-1 ladda-button" data-style="slide-right" data-toggle="modal" data-target="#myModalLabel{{product.id}}"><span class="ladda-label"><i class="icon-ios-trash text-danger font-medium-5" style="color: white !important;vertical-align:middle;" ></i>
حذف</span><span class="ladda-spinner"></span><span class="ladda-spinner"></span></button>
                  <div class="modal fade text-xs-left" id="myModalLabel{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{product.id}}" aria-hidden="true">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header bg-blue-grey white">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">×</span>
											</button>
											<h4 class="modal-title" id="product{{product.id}}">حذف {{product.name}} </h4>
										  </div>
										  <div class="modal-body">
											<p>از حذف محصول مورد نظر اطمینان دارید</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" aria-hidden="true">خیر</button>
											<a  class="btn btn-outline-blue-grey" href="{% url 'delete_product' product.id %}">حذف</a>

										  </div>
										</div>
									  </div>
									</div>
                                          <button class="btn btn-success    mb-1 ladda-button" data-style="expand-left"><span class="ladda-label"><a href="{% url 'edit_product' product.id %}" style="color:white !important;"><i class="icon-eye font-medium-5" style="vertical-align:middle;padding-left:5px;" ></i>ویرایش</a></span></button>

              </td>

                          </tr>
              {% endfor %}



          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
</div>
{% endblock %}
