<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap-4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap-rtl/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="lib/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="lib/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="lib/FlipClock-master/compiled/flipclock.css">
    <link rel="stylesheet" href="lib/persian-datepicker/dist/css/persian-datepicker.min.css">
    <link rel="stylesheet" href="css/style.min.css" />
    <title>index</title>
</head>

<body>
    <header>
        <div class="top__menu">
            <div class="logo">
                <a href="#">
                    <div class="top">
                        <img src="img/logo.png" alt="">
                        سامانه رزرو
                        <br>
                        آنــلایــن
                    </div>
                    <h1>
                        آژانس خدمات مسافرت هوایی و گردشگری
                        <br>
                        زرافشان سیر
                    </h1>
                </a>

            </div>
            <div class="menu">
                <nav>
                    <button class="mobile__menu">
                        <img src="img/menu.svg" alt="">
                        منوی سایت

                    </button>
                    <ul>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>

                    </ul>
                    <div class="btns">
                        <a href="#" class="tracking"><img src="img/edit.svg" alt="">پیگیری رزرو <span>></span> </a>
                        <a href="#" class="call"><img src="img/call.svg" alt=""> ۸۸۴۹۱۷۱۷ </a>
                    </div>
                </nav>
                <div class="menu__bottom">
                    <div class="notification">
                        <span class="title">
                            اطلاعیه ها
                        </span>

                        <ul>
                            <li><a href="#">افزایش آمار گردشگران داخلی در سه ماه گذشته</a></li>
                        </ul>

                    </div>
                    <div class="date">
                        چهارشنبه
                        <small>/</small>
                        ۱۳۹۷/۱۱/۱۱
                        <small>/</small>
                        ۱۴:۳۸ بعدازظهر
                    </div>
                </div>

            </div>
            <div class="authentication">
                <img src="img/user-silhouette.svg" alt="">
                <a href="#"> وارد شوید / ثبت نام</a>
            </div>

        </div>
        <h2 class="text__logo">
            سامانه رزرواسیون آنلاین بلیط

            <span>
                ۳۶۰
            </span>
        </h2>
        <div class="tab__search">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <img src="img/azadi.svg" alt="">
                        پرواز داخلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <img src="img/eiffel-tower.svg" alt="">
                        پرواز خارجی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/hotel.svg" alt="">
                        هتل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/sunbed.svg" alt="">
                        تور مسافرتی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/insurance.svg" alt="">
                        بیمه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/train-front.svg" alt="">
                        قطار</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <form action="#">
                        <div class="form__input">
                            <span class="title">
                                <img src="img/maps-and-flags.svg" alt="">
                            </span>
                            <select class="first__input">
                                <option>مبدا</option>
                                <option>اصفهان</option>
                            </select>
                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/maps-and-flags.svg" alt="">
                            </span>
                            <select>
                                <option>مقصد</option>
                                <option>اصفهان</option>
                            </select>

                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/calendar.svg" alt="">
                            </span>
                            <input type="text" value="تاریخ رفت">

                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/calendar.svg" alt="">
                            </span>
                            <input type="text" value="تاریخ برگشت">

                        </div>
                        <div class="form__input">

                            <select>
                                <option>۱ مسافر</option>
                                <option>۲ مسافر</option>
                            </select>
                        </div>
                        <div class="form__input order__2">

                            <button>جستجو

                                <img src="img/search.svg" alt="">
                            </button>

                        </div>
                        <div class="checklist order__1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    یکطرفه
                                </label>
                            </div>
                            <div class="form-check mr-5">
                                <input class="form-check-input" type="checkbox" value="" id="back">
                                <label class="form-check-label" for="back">
                                    رفت و برگشت
                                </label>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">مطلب
                    پرواز
                    خارجی</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    هتل</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    تور</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    بیمه</div>
            </div>
        </div>
        <!-- <div class="property__list">
      <ul>
        
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
      </ul>
    </div> -->
    </header>


    <div class="page__11">
        <div class="container-fluid">
            <div class="content ">
                <div class="search__list__header">
                    <div class="col-11 col-lg-2">
                        <div class="title">
                            <span>
                                مشاهده مجله گردشگری
                            </span>
                            <div class="clock__time"></div>


                            <small>ساعت به وقت ایران</small>
                        </div>
                    </div>

                    <div class="col-11 col-lg-9">
                        <div class="header__content">
                            <div class="img">
                                <img src="img/Layer 2 copy.png" alt="">
                            </div>
                            <div class="items">
                                <h5>
                                    شرکت خدمات مسافرت هوائی و گردشگری زرافشان سیر
                                </h5>
                                <span>
                                        بلیط شما با موفقیت صادر شد
                                </span>
                            </div>
                            <button>برو به نقشه</button>
                        </div>

                    </div>

                </div>
                <div class="search__list__content">
                    <div class="col-11 col-lg-2">
                        <div class="adv">
                            <div class="adv__title">
                                <span class="">
                                    ستون تبلیغات
                                </span>

                            </div>
                            <div class="items">
                                <a href="">
                                    <img src="img/Rounded Rectangle 30 copy 2.jpg" alt="">
                                    <h5>کلیک کنید</h5>
                                </a>
                            </div>
                            <div class="items">
                                <a href="">
                                    <img src="img/Rounded Rectangle 30 copy 2.jpg" alt="">
                                    <h5>کلیک کنید</h5>
                                </a>
                            </div>
                            <div class="items poshtibani__items">
                                <div class="poshtibani">
                                    <h6>پشتیبانی 24 ساعته</h6>
                                    <span> 021-88403935</span>
                                    <span> 021-88403935</span>

                                </div>
                            </div>
                            <div class="items">
                                <a href="">
                                    <img src="img/Rounded Rectangle 30 copy 2.jpg" alt="">
                                    <h5>کلیک کنید</h5>
                                </a>
                            </div>

                            <div class="contact__us">
                                <a href="">
                                    <h4 class="tell">
                                        هماهنگی جهت تبلیغات
                                    </h4>
                                    <div class="item__tell">
                                        <span>
                                            06565198115
                                        </span>
                                        <img src="img/Layer 24.png" alt="">
                                    </div>

                                </a>
                            </div>
                            <div class="items support">
                                <a href="">
                                    <h4 class="tell">
                                        هماهنگی جهت تبلیغات
                                    </h4>
                                    <span class="tell__number">

                                        <img src="img/Layer 24.png" alt="">
                                        09216604607
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-11 col-lg-9">
                        <div class="search__list">
                            <div class="list__header">
                                <div class="filtering">
                                    <h5>
                                        اطلاعات پرداخت و صدور بلیط
                                    </h5>


                                </div>
                            </div>

                            <div class="page__11__deatails ">
                                <div class="content__items">
                                    <div class="buy__info">
                                        <h5 class="title">
                                            اطلاعات خرید
                                        </h5>
                                        <div class="table">
                                            <ul>
                                                <li>شماره خرید : 565156</li>
                                                <li>شماره <small>رفرنس</small> : 565156</li>
                                                <li> <small>شماره بلیط</small> : 565156</li>
                                                <li>وضعیت بلیط : <small></small> <strong>صادر شده/ ارسال شده</strong></li>
                                                <li class="no__border">تاریخ رزرو <small></small> : 1397/12/24</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="ticket__info">
                                        <h5 class="title">
                                            اطلاعات بلیط
                                        </h5>
                                        <div class="table">
                                            <ul>
                                                <li>
                                                    <span><img src="img/Shape 39.png" alt="">
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span><img src="img/Shape 39 copy.png" alt="">
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        مبدا</span>
                                                    <span>تهران</span>
                                                    <span>THR</span>
                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                                <li class="no__border">
                                                    <span>
                                                        مبدا</span>

                                                    <img class="airline__logo" src="img/zagroslogo.png" alt="">

                                                    <span>فرودگاه مهرآّباد</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="passenger__info">
                                        <h5 class="title">
                                                اطلاعات مسافران
                                        </h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                            <th scope="col">تست</th>
                                                    </tr>
                                                </thead>
    
                                                <tbody>
                                                        <tr>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                                <th scope="col">تست</th>
                                                        </tr>
                                        
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tanks__to__buy">
                                        <h5>ضمن تشکر از خرید شما ، میتوانید بلیط خود را از راه های اعلام شد</h5>
                                         <div class="tanks__to__buy__content">
                                             <div class="item">
                                                 <img src="img/telegram.svg" alt="">
                                                <h6>ارسال به تلگرام</h6>
                                             </div>
                                             <div class="item">
                                                    <img src="img/gmail.svg" alt="">
                                                   <h6>ارسال به تلگرام</h6>
                                                </div>
                                                <div class="item">
                                                        <img src="img/printer.svg" alt="">
                                                       <h6>ارسال به تلگرام</h6>
                                                    </div>
                                                    <div class="item">
                                                            <img src="img/jpg.png" alt="">
                                                           <h6>ارسال به تلگرام</h6>
                                                        </div>
                                                        <div class="item">
                                                                <img src="img/pdf.svg" alt="">
                                                               <h6>ارسال به تلگرام</h6>
                                                            </div>
                                         </div>
                                   
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="quick__access__item">
                    <div class="quick__access">
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="news  pb-4">
        <!-- <div class="title">
          <h4>
        ویدئو بین
    </h4> -->
        </div>

        <div class="videos">
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span>
                        <h3>آرامگاه بوعلی</h3>
                    </div>
                    <div class="content">
                        <h4>ایران / همدان</h4>
                        <p>تهیه و تدوین : سید علی حسینی پرند</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span>
                        <h3>آرامگاه بوعلی</h3>
                    </div>
                    <div class="content">
                        <h4>ایران / همدان</h4>
                        <p>تهیه و تدوین : سید علی حسینی پرند</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span>
                        <h3>آرامگاه بوعلی</h3>
                    </div>
                    <div class="content">
                        <h4>ایران / همدان</h4>
                        <p>تهیه و تدوین : سید علی حسینی پرند</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span>
                        <h3>آرامگاه بوعلی</h3>
                    </div>
                    <div class="content">
                        <h4>ایران / همدان</h4>
                        <p>تهیه و تدوین : سید علی حسینی پرند</p>
                    </div>

                </a>


            </div>

        </div>


        <!-- <div class="news_list">
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
        </div> -->
    </section>

    <div class="newsteller">
        <img src="img/eggs.png" alt="">
        <div class="content__box">
            <h4>برای اطلاع از آخرین اخبار و تازه ترین تورهای ما عضو خبرنامه ایمیلی ما شوید</h4>
            <form action="#">
                <img src="img/envelope.svg" alt="">
                <input type="text" placeholder="ایمیل خود را وارد نمائید">
                <button type="submit">ثبت نام</button>
            </form>
        </div>
    </div>

    <div class="social__network">
        <div class="content">
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>

        </div>
    </div>
    <footer>

        <div class="content">
            <div class="right">
                <div class="newsteller__form">
                    <img src="img/smartphone.svg" alt="">
                    <p>جهت عضویت در خبرنامه <span class="text-danger">پیامکی</span> ما ، میتوانید از طریق زیر اقدام به
                        ثبت نام نمائید</p>
                    <form action="#">
                        <div class="form__item">
                            <input type="text" placeholder="نام" class="first">
                        </div>
                        <div class="form__item">
                            <input type="text" placeholder="نام خانوادگی">
                        </div>
                        <div class="form__item">
                            <input type="text" placeholder="موبایل">
                        </div>
                        <div class="form__item">

                            <select>
                                <option value="0">تور های داخلی</option>
                                <option value="0">تور های خارجی</option>
                            </select>
                        </div>
                        <div class="form__item">
                            <button class="last">
                                ثبت نام
                            </button>
                        </div>




                    </form>
                </div>
                <div class="leatest__news">
                    <h5>
                        آخرین مطالب وبلاگ
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="left">
                <h4>
                    درباره ما
                </h4>
                <p>
                    آژانس زرافشان سیر در سال 1390 و با هدف فعالیت در حوزه گردشگری تاسیس گردید
                </p>
                <img src="img/Googlemap-600x551.jpg" alt="">
            </div>
        </div>
        <div class="sign__copywrite">
            <div class="copywrite">
                <p>آدرس : تهران ، انتهای خیابان مطهری ، خیابان شهدای ناجا ، پلاک 8 واحد 1</p>
                <p>کلیه حقوق مادی و معنوی این وب سایت متعلق است به شرکت زرافشان سیر</p>
            </div>
            <div class="sign">
                <ul>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/samandehi-2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="lib/slick-1.8.1/slick/slick.js"></script>
    <script src="lib/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <script src="lib/FlipClock-master/compiled/flipclock.min.js"></script>
    <script src="lib/persian-date/dist/persian-date.min.js"></script>
    <script src="lib/persian-datepicker/dist/js/persian-datepicker.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        $('.hotels__search__list .content .search__list__content .search__list .hotel__intro').last().addClass(
            'noborder');

        function birthdaydatepicker() {
            $(".datetime").persianDatepicker({
                initialValueType: 'gregorian',
                "inline": false,
                "format": "l",
                "viewMode": "day",
                "initialValue": false,
                "position": "auto",
                "altFormat": "lll",
                "altField": "#altfieldExample",
                "onlyTimePicker": false,
                "onlySelectOnDate": false,
                "calendarType": "persian",
                "inputDelay": 800,
                "observer": false,
                "calendar": {
                    "persian": {
                        "locale": "fa",
                        "showHint": true,
                        "leapYearMode": "algorithmic"
                    },
                    "gregorian": {
                        "locale": "en",
                        "showHint": false
                    }
                },
                "navigator": {
                    "enabled": true,
                    "scroll": {
                        "enabled": true
                    },
                    "text": {
                        "btnNextText": "<",
                        "btnPrevText": ">"
                    }
                },
                "toolbox": {
                    "enabled": true,
                    "calendarSwitch": {
                        "enabled": false,
                        "format": "MMMM"
                    },
                    "todayButton": {
                        "enabled": true,
                        "text": {
                            "fa": "امروز",
                            "en": "Today"
                        }
                    },
                    "submitButton": {
                        "enabled": true,
                        "text": {
                            "fa": "تایید",
                            "en": "Submit"
                        }
                    },
                    "text": {
                        "btnToday": "امروز"
                    }
                },
                "timePicker": {
                    "enabled": false,
                    "step": 1,
                    "hour": {
                        "enabled": false,
                        "step": null
                    },
                    "minute": {
                        "enabled": false,
                        "step": null
                    },
                    "second": {
                        "enabled": false,
                        "step": null
                    },
                    "meridian": {
                        "enabled": true
                    }
                },
                "dayPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY MMMM"
                },
                "monthPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY"
                },
                "yearPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY"
                },
                "responsive": true
            });

        }
        birthdaydatepicker();
    </script>

    <script type="text/javascript">
        var clock = $('.clock__time').FlipClock({
            clockFace: 'TwentyFourHourClock'
        });
    </script>
    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

    <script>
        $(document).ready(function () {
            $('#falseinput').click(function () {
                $("#fileinput").click();
            });
        });
        $('#fileinput').change(function () {
            $('#selected_filename').text($('#fileinput]')[0].files[0].name);
        });
    </script>
</body>

</html>