<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap-4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap-rtl/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="lib/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="lib/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="lib/FlipClock-master/compiled/flipclock.css">
    <link rel="stylesheet" href="css/style.min.css" />
    <title>index</title>
</head>

<body>
    <header>
        <div class="top__menu">
            <div class="logo">
                <a href="#">
                    <div class="top">
                        <img src="img/logo.png" alt="">
                        سامانه رزرو
                        <br>
                        آنــلایــن
                    </div>
                    <h1>
                        آژانس خدمات مسافرت هوایی و گردشگری
                        <br>
                        زرافشان سیر
                    </h1>
                </a>

            </div>
            <div class="menu">
                <nav>
                    <button class="mobile__menu">
                        <img src="img/menu.svg" alt="">
                        منوی سایت

                    </button>
                    <ul>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>
                        <li><a href="#">منوی سایت</a></li>

                    </ul>
                    <div class="btns">
                        <a href="#" class="tracking"><img src="img/edit.svg" alt="">پیگیری رزرو <span>></span> </a>
                        <a href="#" class="call"><img src="img/call.svg" alt=""> ۸۸۴۹۱۷۱۷ </a>
                    </div>
                </nav>
                <div class="menu__bottom">
                    <div class="notification">
                        <span class="title">
                            اطلاعیه ها
                        </span>

                        <ul>
                            <li><a href="#">افزایش آمار گردشگران داخلی در سه ماه گذشته</a></li>
                        </ul>

                    </div>
                    <div class="date">
                        چهارشنبه
                        <small>/</small>
                        ۱۳۹۷/۱۱/۱۱
                        <small>/</small>
                        ۱۴:۳۸ بعدازظهر
                    </div>
                </div>

            </div>
            <div class="authentication">
                <img src="img/user-silhouette.svg" alt="">
                <a href="#"> وارد شوید / ثبت نام</a>
            </div>

        </div>
        <h2 class="text__logo">
            سامانه رزرواسیون آنلاین بلیط

            <span>
                ۳۶۰
            </span>
        </h2>
        <div class="tab__search">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <img src="img/azadi.svg" alt="">
                        پرواز داخلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <img src="img/eiffel-tower.svg" alt="">
                        پرواز خارجی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/hotel.svg" alt="">
                        هتل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/sunbed.svg" alt="">
                        تور مسافرتی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/insurance.svg" alt="">
                        بیمه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <img src="img/train-front.svg" alt="">
                        قطار</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <form action="#">
                        <div class="form__input">
                            <span class="title">
                                <img src="img/maps-and-flags.svg" alt="">
                            </span>
                            <select class="first__input">
                                <option>مبدا</option>
                                <option>اصفهان</option>
                            </select>
                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/maps-and-flags.svg" alt="">
                            </span>
                            <select>
                                <option>مقصد</option>
                                <option>اصفهان</option>
                            </select>

                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/calendar.svg" alt="">
                            </span>
                            <input type="text" value="تاریخ رفت">

                        </div>
                        <div class="form__input">
                            <span class="title">
                                <img src="img/calendar.svg" alt="">
                            </span>
                            <input type="text" value="تاریخ برگشت">

                        </div>
                        <div class="form__input">

                            <select>
                                <option>۱ مسافر</option>
                                <option>۲ مسافر</option>
                            </select>
                        </div>
                        <div class="form__input order__2">

                            <button>جستجو

                                <img src="img/search.svg" alt="">
                            </button>

                        </div>
                        <div class="checklist order__1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    یکطرفه
                                </label>
                            </div>
                            <div class="form-check mr-5">
                                <input class="form-check-input" type="checkbox" value="" id="back">
                                <label class="form-check-label" for="back">
                                    رفت و برگشت
                                </label>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">مطلب
                    پرواز
                    خارجی</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    هتل</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    تور</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">مطلب
                    بیمه</div>
            </div>
        </div>
        <!-- <div class="property__list">
      <ul>
        
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
        <li>
          <img src="img/plane1.svg" alt="">

          <h4>رزرو کلیه بلیط های داخلی و خارجی</h4>

        </li>
      </ul>
    </div> -->
    </header>


    <div class="search__result">
        <div class="container-fluid">
            <div class="content">
                <div class="col-11  order-1 order-xl-1  ">
                    <div class="search__result__header">
                        <ul>
                            <li class='active'> <img src="img/restart@2x.png" alt="">انتخاب پرواز </li>
                            <li> <img src="img/restart@2x.png" alt="">انتخاب پرواز </li>
                            <li> <img src="img/restart@2x.png" alt="">انتخاب پرواز </li>
                            <li> <img src="img/restart@2x.png" alt="">انتخاب پرواز </li>
                        </ul>

                        <div class="line">

                        </div>

                    </div>
                </div>
                <div class="col-11 col-xl-2 order-3  order-xl-2">
                    <div class="countdown__timer">
                        <span>مدت زمان شما برای انتخاب پرواز</span>

                        <div class="timer"></div>

                    </div>
                    <div class="search__filter">
                        <form action="">
                            <div class="items">
                                <div class="item">
                                    <div class="ticket__type">
                                        <h5> <img src="img/filter-tool-black-shape@2x.png" alt=""> فیلترکردن جستجو </h5>
                                        <div class="inputs">
                                            <div class="input">
                                                <input type="checkbox" id="charter"> <label class="charteri" for="charter">چارتری</label>
                                            </div>
                                            <div class="input">
                                                <input type="checkbox"> <label class="systemi" for="">چارتری</label>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="item">
                                    <div class="chipest__ticket">
                                        <h5> انتخاب ارزانترین بلیط </h5>
                                        <div class="inputs">
                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>
                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>

                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>

                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>
                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>
                                            <div class="input">
                                                <label for=""><input type="checkbox">ماهان</label><img src="img/mahan@2x.png"
                                                    alt=""> <span>۲۳۲/۰۰۰</span>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="flight__type">
                                        <h5> نوع هواپیما </h5>
                                        <div class="inputs">
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">ایرباس</label>
                                            </div>
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">چارتری</label>
                                            </div>
                                        </div>
                                        <div class="inputs">
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">ایرباس</label>
                                            </div>
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">چارتری</label>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="item">
                                    <div class="flight__type">
                                        <h5> کلاس پروازی </h5>
                                        <div class="inputs">
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">ایرباس</label>
                                            </div>
                                            <div class="input">
                                                <input type="checkbox"> <label class="" for="">چارتری</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="person">
                                        <h5> ظرفیت </h5>
                                        <div class="persen__number">
                                            <select name="" id="">
                                                <option value="">15</option>
                                                <option value="">15</option>
                                                <option value="">15</option>
                                            </select>
                                            <span>نفر</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="time__to__flight">
                                        <h5> ساعت پروازی </h5>
                                        <div class="content">
                                            <div class="time__details">
                                                <input type="checkbox">
                                                <div class="time">
                                                    <span>صبح</span>
                                                    <span>۱۳-۴۴</span>
                                                </div>

                                            </div>
                                            <div class="time__details">
                                                <input type="checkbox">
                                                <div class="time">
                                                    <span>صبح</span>
                                                    <span>۱۳-۴۴</span>
                                                </div>

                                            </div>
                                            <div class="time__details">
                                                <input type="checkbox">
                                                <div class="time">
                                                    <span>صبح</span>
                                                    <span>۱۳-۴۴</span>
                                                </div>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="item">
                                    <div class="flight__number">
                                        <h5> شماره پرواز </h5>
                                        <div class="content">
                                            <input type="text">
                                        </div>



                                    </div>
                                </div>
                                <button class="" type="submit">
                                    انجام فیلتر

                                </button>



                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-11 col-xl-9 order-2  order-xl-3">
                    <div class="flight__time">
                        <ul>
                            <li>
                                <span>سه شنبه - 16 بهمن</span>
                                <span>زاگرس-سیستمی</span>
                                <span class="price">345/000 تومان</span>
                            </li>
                            <li>
                                <span>سه شنبه - 16 بهمن</span>
                                <span>زاگرس-سیستمی</span>
                                <span class="price">345/000 تومان</span>
                            </li>
                            <li>
                                <span>سه شنبه - 16 بهمن</span>
                                <span>زاگرس-سیستمی</span>
                                <span class="price">345/000 تومان</span>
                            </li>
                            <li class="active">
                                <span>سه شنبه - 16 بهمن</span>
                                <span>زاگرس-سیستمی</span>
                                <span class="price">345/000 تومان</span>

                                <small>
                                    <div class="circle"></div>کمترین قیمت
                                </small>

                            </li>
                        </ul>
                        <h5>
                            <div class="circle"></div>پروازهای موجود برای 4 روز بعد از تاریخ انتخابی شما
                        </h5>
                    </div>
                    <div class="result__header">
                        <h5>
                            <div class="circle"></div>تعداد<span class="number"> 78</span> پرواز از بندر عباس به مشهد
                            در تاریخ <span>۱۳۹۷/۱۱/۱۵</span>
                            موجود میباشد
                        </h5>
                        <a href=""> مرتب سازی قیمت <img src="img/sort-by-attributes-interface-button-option copy@2x.png"
                                alt=""> </a>
                        <h5>دوشنبه / پانزدهم بهمن ماه نود و هفت</h5>
                        <a href=""> مرتب سازی زمان <img src="img/sort-by-attributes-interface-button-option copy@2x.png"
                                alt=""> </a>



                    </div>
                    <div class="search__result__items chartei__bilit">

                        <small class="charter">چارتری</small>
                        <a href="" class="more__info"> جزئیات بیشتر ></a>


                        <!-- <div class="contact"> -->
                        <div class="item">
                            <div class="logo">
                                <div class="logo__img">
                                    <img src="img/zagroslogo@2x.png" alt="">
                                </div>
                                <h4>زاگرس</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flight__number">
                                <span>شماره پرواز:۳۵۳۴</span>
                                <span>نوع هواپیما : بوئینگ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flight__number">
                                <span class="pr-3 pl-3"> اکونومی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="remaining__chair">
                                <span class=""> <small class="">۳۲</small> صندلی باقی مانده</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="origin__destination">
                                <div class="detail">
                                    <h6>
                                        بندرعباس
                                    </h6>
                                    <span>
                                        ۱۴:۳۰
                                    </span>
                                </div>
                                <div class="detail pr-2 pl-2">
                                    <h5>
                                        پنجشنبه ۲۰ دی ماه ۱۳۹۷

                                    </h5>
                                    <img src="img/airplanet.svg" alt="">
                                </div>
                                <div class="detail">
                                    <h6>
                                        بندرعباس
                                    </h6>
                                    <span>
                                        ۱۴:۳۰
                                    </span>
                                </div>
                            </div>


                        </div>
                        <div class="item">
                            <div class="price">
                                <h5>
                                    ۴۳۴/۰۰۰ ت
                                </h5>
                                <a href="">
                                    رزرو

                                </a>

                            </div>
                        </div>

                        <!-- </div> -->
                    </div>
                    <div class="search__result__items systemi__bilit">

                        <small class="systemi">سیستمی</small>
                        <a href="" class="more__info"> جزئیات بیشتر ></a>


                        <!-- <div class="contact"> -->
                        <div class="item">
                            <div class="logo">
                                <div class="logo__img">
                                    <img src="img/zagroslogo@2x.png" alt="">
                                </div>
                                <h4>زاگرس</h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flight__number">
                                <span>شماره پرواز:۳۵۳۴</span>
                                <span>نوع هواپیما : بوئینگ</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flight__number">
                                <span class="pr-3 pl-3"> اکونومی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="remaining__chair">
                                <span class=""> <small class="">۳۲</small> صندلی باقی مانده</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="origin__destination">
                                <div class="detail">
                                    <h6>
                                        بندرعباس
                                    </h6>
                                    <span>
                                        ۱۴:۳۰
                                    </span>
                                </div>
                                <div class="detail pr-2 pl-2">
                                    <h5>
                                        پنجشنبه ۲۰ دی ماه ۱۳۹۷

                                    </h5>
                                    <img src="img/airplanet.svg" alt="">
                                </div>
                                <div class="detail">
                                    <h6>
                                        بندرعباس
                                    </h6>
                                    <span>
                                        ۱۴:۳۰
                                    </span>
                                </div>
                            </div>


                        </div>
                        <div class="item">
                            <div class="price">
                                <h5>
                                    ۴۳۴/۰۰۰ ت
                                </h5>
                                <a href="">
                                    رزرو

                                </a>

                            </div>
                        </div>

                        <!-- </div> -->
                    </div>
                </div>
                <div class="quick__access__item">
                    <div class="quick__access">
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="">
                                <img src="img/youtube.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="news  pb-4">
        <!-- <div class="title">
          <h4>
        ویدئو بین
    </h4> -->
        </div>

        <div class="videos tour__footer">
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <!-- <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span> -->
                        <h3>تور مشهد 3 روز و 4 شب</h3>
                    </div>
                    <div class="content">
                        <h5>شروع قیمت از <span> 1/450/000</span> </h5>
                        <p>تاریخ حرکت :1397/11/24</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <!-- <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span> -->
                        <h3>تور مشهد 3 روز و 4 شب</h3>
                    </div>
                    <div class="content">
                        <h5>شروع قیمت از <span> 1/450/000</span> </h5>
                        <p>تاریخ حرکت :1397/11/24</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <!-- <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span> -->
                        <h3>تور مشهد 3 روز و 4 شب</h3>
                    </div>
                    <div class="content">
                        <h5>شروع قیمت از <span> 1/450/000</span> </h5>
                        <p>تاریخ حرکت :1397/11/24</p>
                    </div>

                </a>


            </div>
            <div class="item">
                <a href="#">
                    <div class="image__holder">
                        <img src="img/iran.jpg" alt="">
                        <!-- <span class="play">
                            <img src="img/youtube.png" alt="">
                        </span> -->
                        <h3>تور مشهد 3 روز و 4 شب</h3>
                    </div>
                    <div class="content">
                        <h5>شروع قیمت از <span> 1/450/000</span> </h5>
                        <p>تاریخ حرکت :1397/11/24</p>
                    </div>

                </a>


            </div>

        </div>

        <!-- <div class="news_list">
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="item">
                <a href="">
                    <img src="img/iran.jpg" alt="">
                    <div class="content">
                        <h4>بهترین اماکن دیدنی در دنیا</h4>
                        <p>امروز میخوایم بریم گشتی بزنیم و دیدنی های ایران رو باهاش آشنا بشیم</p>
                        <div class="detail">
                            <span>
                                نویسنده : محمد ترابی
                            </span>
                            <span>
                                ۹۷/۱۱/۱۲
                            </span>
                        </div>
                    </div>
                </a>

            </div>
        </div> -->
    </section>

    <div class="newsteller">
        <img src="img/eggs.png" alt="">
        <div class="content__box">
            <h4>برای اطلاع از آخرین اخبار و تازه ترین تورهای ما عضو خبرنامه ایمیلی ما شوید</h4>
            <form action="#">
                <img src="img/envelope.svg" alt="">
                <input type="text" placeholder="ایمیل خود را وارد نمائید">
                <button type="submit">ثبت نام</button>
            </form>
        </div>
    </div>

    <div class="social__network">
        <div class="content">
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>
            <a href="#" class="item">
                صفحه اینستاگرام
                <img src="img/instagram.svg" alt="">

            </a>

        </div>
    </div>
    <footer>

        <div class="content">
            <div class="right">
                <div class="newsteller__form">
                    <img src="img/smartphone.svg" alt="">
                    <p>جهت عضویت در خبرنامه <span class="text-danger">پیامکی</span> ما ، میتوانید از طریق زیر اقدام به
                        ثبت نام نمائید</p>
                    <form action="#">
                        <div class="form__item">
                            <input type="text" placeholder="نام" class="first">
                        </div>
                        <div class="form__item">
                            <input type="text" placeholder="نام خانوادگی">
                        </div>
                        <div class="form__item">
                            <input type="text" placeholder="موبایل">
                        </div>
                        <div class="form__item">

                            <select>
                                <option value="0">تور های داخلی</option>
                                <option value="0">تور های خارجی</option>
                            </select>
                        </div>
                        <div class="form__item">
                            <button class="last">
                                ثبت نام
                            </button>
                        </div>




                    </form>
                </div>
                <div class="leatest__news">
                    <h5>
                        آخرین مطالب وبلاگ
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>افزایش 30 درصدی قیمت بلی ها در ایام نوروز</h4>
                                <span>
                                    نویسنده : محمد طالبی
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="left">
                <h4>
                    درباره ما
                </h4>
                <p>
                    آژانس زرافشان سیر در سال 1390 و با هدف فعالیت در حوزه گردشگری تاسیس گردید
                </p>
                <img src="img/Googlemap-600x551.jpg" alt="">
            </div>
        </div>
        <div class="sign__copywrite">
            <div class="copywrite">
                <p>آدرس : تهران ، انتهای خیابان مطهری ، خیابان شهدای ناجا ، پلاک 8 واحد 1</p>
                <p>کلیه حقوق مادی و معنوی این وب سایت متعلق است به شرکت زرافشان سیر</p>
            </div>
            <div class="sign">
                <ul>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/samandehi-2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/ENamad-Namad-etemad-electronic-Index-way2pay-93-03-12.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="lib/slick-1.8.1/slick/slick.js"></script>
    <script src="lib/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <script src="lib/FlipClock-master/compiled/flipclock.min.js"></script>

    <script src="js/custom.js"></script>
    <script>
        //           var clock = new FlipClock($('.timer'), {
        // // ... your options here
        // });


        var clock;

        $(document).ready(function () {
            var clock;

            clock = $('.timer').FlipClock({
                clockFace: 'MinuteCounter',
                autoStart: false,
                callbacks: {
                    stop: function () {
                        $('.message').html('The clock has stopped!')
                    }
                }
            });

            clock.setTime(2208);
            clock.setCountdown(true);
            clock.start();

        });

   
    </script>
    
</body>

</html>