{% extends 'hadmin/list-simple.html' %}
{% block title %}
لیست انواع
{% endblock %}
{% block list %}
<div class="row" id="header-styling">
<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="heading-buttons1">انواع خانه‌ها</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">

      <div class="table-responsive ">
        <table class="table font-small-3 table-striped">
          <thead class="bg-grey bg-lighten-4">
            <tr>
              <th>شماره </th>
              <th>عنوان</th>
              <th> تعداد خانه های مشمول</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>

              {% for hometype in types %}
              <tr class="bg-yellow bg-lighten-4">
                  <td><a href="{% url 'edit_type' hometype.id %}">{{hometype.id}}</a></td>
                  <td>{{hometype.name}}</td>
                  <td>{{hometype.rentalhome_set.all.count}}</td>
                  <td class=" text-md-right">
                    <a href="{% url 'delete_type' hometype.id %}"><i class="icon-ios-trash text-danger font-medium-5"></i></a>
                    <a href="{% url 'edit_type' hometype.id %}"><i class="icon-eye text-info font-medium-5"></i></a>
                  </td>
              </tr>
              {% endfor %}
                    <tr>
              <td><a class="btn btn-danger" href="{% url 'set_type' %}">افزودن نوع جدید</a> </td>
              <td></td>
              <td></td>
              <td></td>
          </tr>



          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
</div>
{% endblock %}
