{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="{% static 'bilit360/img/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'bilit360/img/favicon/favicon-32x32.png' %}" sizes="32x32">
    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href={% static 'bilit360/img/favicon/favicon-32x32.png' %} >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'bilit360/img/favicon/favicon-32x32.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bilit360/lib/bootstrap-4.1.3/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bilit360/lib/bootstrap-rtl/bootstrap-rtl.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bilit360/lib/slick-1.8.1/slick/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'bilit360/lib/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'bilit360/lib/persian-datepicker/dist/css/persian-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bilit360/css/style.min.css' %}" />
    {% block styles %}
    {% endblock %}
  <title>زرتور |
      {% block title %}
      {% endblock %}
  </title>
</head>

<body>
  <header>
    <div class="top__menu">
        {% include './includes/logo.html' %}
        {% include './includes/menu.html' %}
        {% include './includes/authentication.html' %}
    </div>
    <h2 class="text__logo">
      سامانه رزرواسیون آنلاین بلیط

      <span>
        ۳۶۰
      </span>
    </h2>
      {% block search_tab %}

      {% endblock %}
  </header>
  {% block main %}

  {% endblock %}
  {% include './includes/app_download.html' %}
  {% block news_section %}

  {% endblock %}
  {% include './includes/newsletter.html' %}
  {% include './includes/quick_links.html' %}
  {% include './includes/socials.html' %}
  {% include './includes/footer.html' %}
  <script src="{% static 'bilit360/lib/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'bilit360/lib/slick-1.8.1/slick/slick.js' %}"></script>
  <script src="{% static 'bilit360/lib/bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bilit360/lib/persian-date/dist/persian-date.min.js' %}"></script>
  <script src="{% static 'bilit360/lib/persian-datepicker/dist/js/persian-datepicker.min.js' %}"></script>
  <script src="{% static 'bilit360/lib/persian-datepicker/dist/js/persian-datepicker-custom.js' %}"></script>
  <script src="{% static 'bilit360/js/custom.js' %}"></script>
  <script src="{% static 'bilit360/js/moment.js' %}"></script>
  {% block scripts %}

  {% endblock %}
</body>

</html>