{{% extends 'hadmin/admin.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'hadmin_app_assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'hadmin_app_assets/vendors/css/tables/jsgrid/jsgrid.min.css' %}">
{% endblock css %}
{% block content %}
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-lead col-xs-12 mt-2">
          </div>
        </div>
        <div class="content-body">
          {% include 'hadmin/sale.html' %}

          {% block list %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock content %}
    {% block script %}
        <!-- BEGIN PAGE VENDOR JS-->
        <script src="{% static 'hadmin_app_assets/js/core/libraries/jquery_ui/jquery-ui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'hadmin_app_assets/vendors/js/tables/jsgrid/jsgrid.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'hadmin_app_assets/vendors/js/tables/jsgrid/griddata.js' %}" type="text/javascript"></script>
        <script src="{% static 'hadmin_app_assets/vendors/js/tables/jsgrid/jquery.validate.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <script src="{% static 'hadmin_app_assets/js/scripts/tables/jsgrid/jsgrid.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL JS-->
    {% endblock %}
