{% extends "hadmin/form.html" %}
{% block title %}

    ثبت دستی سند حسابداری
{% endblock %}
{% block form %}
<!-- form -->
<form action="" method="POST" class="form" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row match-height">
<div class="col-md-12">
  <div class="card" >
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-tooltip">ثبت سند حسابداری</h4>
      <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
      <div class="heading-elements">

      </div>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">

        <div class="card-text">
          <p> در این قسمت می‌توانید سند حسابداری جدید ثبت کنید؛ در صورتی که تسلط کافی به اصول حسابداری ندارید از گزینه های ثبت اتومانیک استفاده کنید.</p>
        </div>


          <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                  <label for="parent">حساب بدهکار</label>
                  <fieldset class="form-group">
                    <select class="form-control" name="parent" id="parent">
                     {% for account in accounts %}
                      <option value="{{ account.id }}">{{ account.code }}::{{ account.name }}</option>
                        {% endfor %}
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                  <label for="parent">حساب بستانکار</label>
                  <fieldset class="form-group">
                    <select class="form-control" name="parent" id="parent">
                     {% for account in accounts %}
                      <option value="{{ account.id }}">{{ account.code }}::{{ account.name }}</option>
                        {% endfor %}
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                  <label for="issueinput3">تاریخ موثر</label>
                  <input  id="jalali-date2"  class="form-control jalali-date" name="" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="تاریخ موثر" data-original-title="" title="">
                </div>
              </div>
             </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                     <div class="form-group">
              <label for="issueinput1">شرح</label>
              <input type="text" id="issueinput1" class="form-control" placeholder="شرح" name="name" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="شرح" data-original-title="" title="">
            </div>

                </div>
              </div>

            </div>





            <div class="form-actions">
            <button type="button" class="btn btn-warning mr-1">
              <i class="icon-cross2"></i> انصراف
            </button>
            <button type="submit" class="btn btn-primary">
              <i class="icon-check2"></i> ذخیره
            </button>
          </div>

          </div>

      </div>
    </div>
  </div>
</div>
</div>
</form>
<!--/form -->
{% endblock %}
